.movies {
    color: purple;
 }
 
 h3 {
    text-align: center;
 }

 .center {
    text-align: center;
 }

 .error{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orangered;
 }