<div class="container">
    <br>
    <h1 class="main-title">Mission Planning Dashboard</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="center">
          <h3>Mision Name: {{missionName}}</h3>
          <img class="center" src={{bezos}} alt="What a maroon!!!">
        </div>
      </div>
      <div class="col-lg-6">
        <h3>Carrier Rocket: {{rocketName}}</h3>
        <img class="center" src={{rocket}} alt="Nice penis rocket, loser">
      </div>
    </div>
    
    

  </div>