.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

.strong{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:crimson;
    text-align: center;
}

.advise{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:magenta;
    text-align: center;
}